.App {
  /* text-align: center; */
  font-family: 'Sarabun', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

a{
  text-decoration: none !important;
  color: black !important;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important;
}

Button:hover{
  text-decoration: none !important;
  color: black !important;
}